
#title{
 
    font-family: 'droid sans';
  font-weight: bold;
  font-style: normal;
    font-size: 130px;

}



body {
    margin: 0;
    overflow: hidden;
  }
  
  #instructions {
    position: absolute;
    color: #666;
    bottom: 0;
    padding-bottom: 6px;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    pointer-events: none;
  }

#title2{
 
    font-family: 'droid sans ';
    font-weight: bold;
    font-style: normal;
    font-size: 75px;
    /* margin-top: 130px; */

}

.container{width: 100px;
	height: 100px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
    margin: auto;
}

h1 a{color: black;}

h1 a:hover{color: white;}

@font-face {
    font-family: Fonttwo;
src:url("/fonts/RalewayBold.ttf")format("ttf");
}
@font-face {
   font-family: myFirstFont;
   src: url("/fonts/DemoBalnes.ttf") format("ttf");
  
}



